body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
  display: block;
}

a {
  color: #005bc5;
}

.clear {
    clear: both;
}

.gradient {
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderAnimation;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #fafafa 8%, #f4f4f4 38%, #fafafa 54%);
    background-size: 1000px 640px;

    position: relative;

}

@keyframes placeholderAnimation{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

/*

  HEADER

 */

.header__wr {
  width: 100%;
  background-color: #ffffff;
  height: 60px;
  text-align: left;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.header__title {
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  font-size: 24px;
  font-weight: bold;
  float: left;
  color: #000;
}

.header__menu {
  width: auto;
  height: 60px;
  float: left;
}

.header__list {
  float: left;
  list-style: none;
  height: 60px;
  margin: 0;
  padding: 0;
}

.header__elem {
  height: 60px;
  line-height: 60px;
}

.header__elem a {
  color: #000000;
  text-decoration: none;
  height: 58px;
  line-height: 60px;
  display: inline-block;
  padding: 0 10px;
  margin: 0 0;
  font-weight: 500;
  border-bottom: 2px solid #ffffff;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.header__elem a.active {
  color: #005bc5;
  border-bottom: 2px solid #005bc5;
}

.header__elem a:hover {
  color: #005bc5;
}

.header__external-link svg {
  width: 16px;
  display: block;
  float: right;
  margin-top: 17px;
  margin-left: 10px;
}

/*

 DOG CATALOG

 */

.dogs__wr {
    float: left;
    width: calc(33% - 40px);
    height: calc(100vh - 80px);
    padding: 20px 20px 0 20px;
    text-align: left;
}

@media (max-width: 600px) {
    .dogs__wr {
        float: none;
        width: calc(100% - 40px);
        height: 400px;
        padding: 20px;
        text-align: left;
    }
}

/* SEARCH INPUT */

.search__wr {
    width: calc(100% - 20px);
    height: 50px;
    display: block;
    padding: 0 10px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #eeeeee;
}

.search__icon {
    height: 50px;
    padding: 0 0;
    float: left;
}

.search__icon svg {
    width: 18px;
    height: 50px;
    color: #444;
}

.search__input {
    height: 50px;
    font-size: 14px;
    width: calc(100% - 65px);
    padding: 0 10px;
    border: none;
    outline: none;
    float: left;
    color: #000;
}

.search__input ::placeholder {
    color: #606266;
}

.search__clear {
    float: left;
    width: auto;
    height: 50px;
    background: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0 0 0 10px;
    cursor: pointer;
}

.search__clear svg {
    width: 17px;
}

/* DOGS TILES */

.dogs__tiles {
    margin-top: 20px;
    width: 100%;
    height: calc(100% - 70px);
    overflow-y: scroll;
}

.dogs__tile {
    width: 100%;
    padding: 20px 0;
    background: #fff;
    margin: 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.dogs__tile:hover {
    background: #f7f7f7;
}

.dogs__tile_active {
    background: #f0f0f0;
    font-weight: bold;
    padding-left: 10px;
    width: calc(100% - 10px);
}

/* Dog Card */

.card__wr {
    width: calc(67% - 41px);
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
    float: left;
    padding: 20px;
}

@media (max-width: 600px) {
    .card__wr {
        width: calc(100% - 40px);
        height: auto;
        float: none;
        padding: 20px;
    }
}

.card__title {
    height: 50px;
    line-height: 50px;
    text-align: left;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.card__refresh {
    padding: 0;
    margin-top: 15px;
    font-size: 14px;
    font-weight: normal;
    color: #005bc5;
    margin-right: 30px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.card__refresh:hover {
    border-bottom: 1px solid #005bc5;
}

.card__img {
    width: calc(33% - 20px);
    height: 300px;
    overflow: hidden;
    margin: 0 20px 20px 0;
    float: left;
    border-radius: 5px;
}

@media (max-width: 1000px) {
    .card__img {
        width: calc(50% - 20px);
    }
}

@media (max-width: 700px) {
    .card__img {
        width: calc(100% - 0px);
    }
}

.img__placeholder {
    width: 100%;
    height: 100%;
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__subbreads {
    width: 100%;
    display: block;
    text-align: left;
    padding: 0 0 20px 0;
    margin-top: -10px;
}

.card__subbread {
    padding: 10px;
    border-radius: 5px;
    /*float: left;*/
    display: inline-block;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: default;
}

/*

 ABOUT PAGE

 */

.about__wr {
    padding: 20px;
    text-align: left;
}

.about__title {

}
